# Ignore git files
.git
.gitignore

# Ignore docker related files
Dockerfile
docker-compose.yml

# Ignore temporary files
tmp/
log/
coverage/
.env
.env.*

# Ignore dependencies and build artifacts
node_modules/
vendor/bundle/
storage/
public/assets/
public/packs/
public/system/